<!DOCTYPE html>
<html>
<head lang="en" th:fragment="headtag">
    <meta charset="utf-8" />

    <title>深圳卫视 | 军情直播间</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="../../../../resources/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="../../../../resources/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="../../../../resources/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="../../../../resources/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="../../../../resources/media/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="../../../../resources/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="../../../../resources/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="../../../../resources/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/bootstrap-fileupload.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/jquery.gritter.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/chosen.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/select2_metro.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/jquery.tagsinput.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/clockface.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/bootstrap-wysihtml5.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/datepicker.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/timepicker.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/colorpicker.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/bootstrap-toggle-buttons.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/daterangepicker.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/datetimepicker.css" />

    <link rel="stylesheet" type="text/css" href="../../../../resources/media/css/multi-select-metro.css" />

    <link href="../../../../resources/media/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../resources/media/css/DT_bootstrap.css" rel="stylesheet"/>

    <!-- END PAGE LEVEL STYLES -->

    <link rel="shortcut icon" href="../../../../resources/media/image/favicon.ico" />
</head>
<body>

</body>
</html>