<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccs.szmilitary.dao.WeaponMapper">
    <cache />
    <resultMap id="WeaponDomains" type="WeaponDomain">
        <id column="id" property="id"/>
        <result column="weapon_name" property="weapon_name"/>
        <result column="weapon_country" property="weapon_country"/>
        <result column="weapon_category" property="weapon_category"/>
        <result column="weapon_attr" property="weapon_attr"/>
        <result column="weapon_thumbnail" property="weapon_thumbnail"/>
        <result column="weapon_model" property="weapon_model"/>
        <result column="weapon_texture" property="weapon_texture"/>
        <result column="weapon_gh_path" property="weapon_gh_path"/>
    </resultMap>
    <insert id="addWeapon" parameterType="WeaponDomain">
        INSERT INTO weapon(weapon_name,weapon_country,weapon_category,weapon_attr,weapon_thumbnail,weapon_model,weapon_texture,weapon_gh_path)
        VALUE (#{weapon_name},#{weapon_country},#{weapon_category},#{weapon_attr},#{weapon_thumbnail},#{weapon_model},#{weapon_texture},#{weapon_gh_path});
    </insert>

    <select id="getAll" resultMap="WeaponDomains">
        SELECT * FROM weapon;
    </select>

    <select id="getWeaponById" parameterType="int" resultType="WeaponDomain">
        SELECT * FROM weapon WHERE id = #{0};
    </select>

    <update id="updateWeapon" parameterType="WeaponDomain">
        UPDATE weapon SET weapon_name=#{weapon_name},weapon_country=#{weapon_country},weapon_category=#{weapon_category},weapon_attr=#{weapon_attr},weapon_thumbnail=#{weapon_thumbnail},
        weapon_model=#{weapon_model},weapon_texture = #{weapon_texture},weapon_gh_path = #{weapon_gh_path} WHERE id=#{id}
    </update>

    <delete id="delWeapon" parameterType="int">
        DELETE FROM weapon WHERE id = #{0}
    </delete>

    <select id="searchWeaponByName" parameterType="String" resultMap="WeaponDomains">
        SELECT * FROM weapon WHERE weapon_name LIKE CONCAT('%',#{0},'%')
    </select>

    <select id="searchWeaponByCountry" parameterType="String" resultMap="WeaponDomains">
        SELECT * FROM weapon WHERE weapon_country LIKE CONCAT('%',#{0},'%')
    </select>

    <select id="searchWeaponByCategory" parameterType="String" resultMap="WeaponDomains">
        SELECT * FROM weapon WHERE weapon_category LIKE CONCAT('%',#{0},'%')
    </select>

</mapper>
